
@media (max-width: 1200px) {
    .timeline {
        display: none;
    }
}

.timeline {
    position: fixed;
    left: 50px;
    top: 120px;
    bottom: 120px;
}

.timeline a {
    display: block;
    text-decoration: none;
    color: #111;
    margin-bottom: 4px;
}